@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/questrial/v18/QdVUSTchPBm7nuUeVf7EuQ.ttf) format('truetype');
}
